.formContainerHmwrk03{  
    border: 1px solid #0080FB;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(2, 42, 101, 0.7);
    font-weight: bold;
    color: antiquewhite;
}

.labelHmwrk03{
    display: flex;
    justify-content: space-between;
    min-width: 275px;
}

.inputHmwrk03{
    border-radius: 3px;    
    border: 1px solid #0080fb;
    background-color: rgba(0, 128, 251, 0.5);   
}

.inputHmwrk03::placeholder{
    color: antiquewhite;    
}