.myButton {
  padding: 10px;
  margin: 10px;
  min-width: 100px;
}

.primary {
  background-color: #0080fb;
}

.primary:hover {
  background-color: #022a65;
}

.danger {
  background-color: #f7260a;
}

.danger:hover {
  background-color: #72160a;
}

.disabled {
  background-color: gray;
  color: rgb(173, 171, 171);
  cursor: not-allowed;
}

.disabled:hover {
  background-color: gray;
  cursor: not-allowed;
}

.hidden{
  display: none;
}
